<div class="d-flex align-items-center" *ngIf="loading">
  <strong>Loading...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>


<div class="container">
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" 
    autocomplete="off" placeholder="&#61442;  search here..">
  </div>
  <div class="row">
    <div *ngFor="let token of tokens | filter:searchText" class="col-lg-3 col-md-6 col-sm-12">
      <app-card [cryptoToken]="token"></app-card>
    </div>
  </div>
</div>